{% extends 'base.html.twig' %}

{% block body_id 'homepage' %}

{#
    the homepage is a special page which displays neither a header nor a footer.
    this is done with the 'trick' of defining empty Twig blocks without any content
#}

{% block body %}
    {% include '_flash_messages.html.twig' %}
    {% for book in books %}
        <article class="post">
            <h2>{{ book.name }}</h2>
            <h3>{{ book.author }}</h3>
            {% if book.cover|length > 0 %}
            <p><img src="{{ path('_book_cover',{ 'image': book.cover , 'subdir': book.getCoverSubDir} ) }}" /></p>
            {% endif %}
            {{ book.dateRead|localizeddate('medium', 'none') }}
            <p>
            {%  if book.allowedDownload and book.bookFile|length > 0 %}
             <a href="{{ path('book_download',{ 'id': book.id }) }}" class="btn btn-default"><i class="fa fa-cloud-download"></i></a>
            {% endif %}
            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('edit_book',{ 'id': book.id }) }}" class="btn btn-primary"><i class="fa fa-edit"></i></a>
            {% endif %}
            </p>
        </article>
    {% else %}
        <div class="well">{{ 'post.no_posts_found'|trans }}</div>
    {% endfor %}

    
{% endblock %}
