{% extends 'base.html.twig' %}

{% block body_id 'addform' %}

{% block main %}
    <h1>Добавление новой книги</h1>
    {% form_theme form 'bootstrap_3_layout.html.twig' %}
    {{ form_start(form) }}

    {{ form_row(form.name) }}
    {{ form_row(form.author) }}
    {{ form_row(form.uploadCover) }}
    {{ form_row(form.uploadBookFile) }}
    {{ form_row(form.allowedDownload) }}
    {{ form_row(form.dateRead) }}

    <div class="clearfix">
        <input type="submit" value="{{ 'label.save'|trans }}" class="btn btn-success"/>
    </div>
    {{ form_end(form) }}

{% endblock %}